[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-storeman
Exec=invoker --type=silica-qt5 harbour-storeman
Name=Storeman
