[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-storeman
Exec=harbour-storeman
Name=Storeman
Categories=System;Utility;Network;Settings;PackageManager;

[X-Sailjail]
Sandboxing=Disabled

[X-HarbourBackup]
BackupPathList=.config/harbour-storeman/:.local/share/harbour-storeman/
